.Burger{
    width: 100%;
    margin: auto;
    height: 100px;
    overflow: scroll;
    text-align: center;
    font-weight: bolder;
    font-size: 1cm
}

@media(min-width:500px) and (min-height:401px){
    .Burger{
        width: 450px;
        height: 400px;
    }
}
@media(min-width:500px) and (min-height:400px){
    .Burger{
        width: 350px;
        height: 300px;
    }
}